---
// src/layouts/Layout.astro
interface Props {
    title: string;
    description?: string;
}

const { 
    title, 
    description = "Portafolio profesional de Cristian Palacios, Ingeniero de Portafolio y Desarrollador RPA especializado en VDD y automatización avanzada." 
} = Astro.props;
---

<!doctype html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css">
        <meta name="generator" content={Astro.generator} />
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
        <title>{title}</title>
        <meta name="description" content={description} />

        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://cpalacios-dev.github.io/" />
        <meta property="og:title" content={title} />
        <meta property="og:description" content={description} />
        <meta property="og:image" content="https://cpalacios-dev.github.io/preview-portafolio.png" />

        <meta property="twitter:card" content="summary_large_image" />
        <meta property="twitter:title" content={title} />
        <meta property="twitter:description" content={description} />
        <meta property="twitter:image" content="https://cpalacios-dev.github.io/preview-portafolio.png" />
    </head>
    <body>
        <slot />
    </body>
</html>
<style is:global>
    :root {
        --accent-gradient: linear-gradient(45deg, #4f39fa, #da62c4);
    }
    html {
        font-family: 'Inter', system-ui, sans-serif;
        background-color: #13151a !important; /* El !important fuerza el color oscuro */
        color: #ffffff;
        color-scheme: dark;
    }
    body {
        margin: 0;
        background-color: #13151a !important;
    }
</style>